# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
test.X/dist/default/production/test.X.production.cof
*.tre
*.mk
*.err
test.X/build/default/production/test.esym
*.sym
test.X/build/default/production/test.STA
*.xsym
test.X/build/default/production/test.lst
